@charset "UTF-8";

body {
    background-color: rgba(7, 64, 236, 0.453);
}

header, header > nav {
    flex-flow: column wrap;
}

header > h1 {
    flex-basis: auto;
    
}

header > nav > a {
    width: 90vw;
    margin: 3px;
}